{% extends "base.html" %} 
{% block title %}Login{% endblock %} 
{% block content%}
<div class="image-content-login" id="home">
<form method="POST" class="register">
  <div class="heading">
  <h3 align="center" style="margin-top: 100px;margin-bottom: 50px;color: #fff;">Login</h3>
  </div>
  <div class="form-group">
    <label for="email" style="color: #fff;">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="password" style="color: #fff;">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary" style="display: block;margin: 0 auto;">Login</button>

</form>

</div>
{% endblock %}

{% block override_me %}
<!-- footer -->
<footer class="register-footer">
  <div class="footer" id="about">
    <div class="box-container">
     
        

      <div class="box">
        <h3>Contact info</h3>
        <a href="#">+111-222-3333</a>
        <a href="#">themagicbeans@gmail.com</a>
        <a href="#">Patiala, india </a>
      </div>

      <div class="box">
        <h3>Follow us</h3>
        <a href="#">
          <ion-icon name="logo-facebook"></ion-icon> @themagicbeans
        </a>
        <a href="#">
          <ion-icon name="logo-twitter"></ion-icon> theMagicBeans
        </a> 
        <a href="#">
          <ion-icon name="logo-instagram"></ion-icon> @magic_beans
        </a>
      </div>
    </div>
  </div>

</footer>

{% endblock %}