{% extends "base.html" %}
{% block title %}Menu{% endblock %}

{% block content %}
<div class="site-content">

   
    <div class="menu" id="menu" method="POST">

        <h1 class="sub-heading">Menu </h1>




        <div class="box-container">

           
            <div class="box">
                <div class="image">
                    <img src="/static/mocha-image.png" alt="">

                </div>
                <div class="content">

                    <h3>Mocha</h3>
                    <p class="price">&#8377 190</p>
                    <button class="btn success">ADD</button>

                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/static/cappuccino-image.png" alt="">
                   

                </div>
                <div class="content">

                    <h3>Cappuccino</h3>
                    <p class="price">&#8377 180</p>
                    <button class="btn success">ADD</button>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/static/americano-image.jpeg" alt="">

                </div>
                <div class="content">

                    <h3>Americano</h3>
                    <p class="price">&#8377 160</p>
                    <button class="btn success">ADD</button>

                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/static/latte-image.png" alt="">

                </div>
                <div class="content">

                    <h3>Latte</h3>
                    <p class="price">&#8377 180</p>
                    <button class="btn success">ADD</button>
                </div>
            </div>


            <div class="box">
                <div class="image">
                    <img src="/static/menu-1.jpg" alt="">

                </div>
                <div class="content">

                    <h3>Pizza</h3>
                    <p class="price">&#8377 400</p>
                    <button class="btn success">ADD</button>

                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/static/menu-2.jpg" alt="">

                </div>
                <div class="content">

                    <h3>Burger</h3>
                    <p class="price">&#8377 150</p>
                    <button class="btn success">ADD</button>

                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/static/menu-3.jpg" alt="">

                </div>
                <div class="content">

                    <h3>Blueberry pancake</h3>
                    <p class="price">&#8377 170</p>
                    <button class="btn success">ADD</button>

                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/static/menu-4.jpg" alt="">

                </div>
                <div class="content">

                    <h3>Chocolate Waffle</h3>
                    <p class="price">&#8377 250</p>
                    <button class="btn success">ADD</button>

                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/static/menu-5.jpg" alt="">

                </div>
                <div class="content">

                    <h3>Chocolate Pancake</h3>
                    <p class="price">&#8377 200</p>
                    <button class="btn success">ADD</button>

                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/static/menu-6.jpg" alt="">

                </div>
                <div class="content">

                    <h3>Blueberry cupcakes</h3>
                    <p class="price">&#8377 75</p>
                    <button class="btn success">ADD</button>

                </div>
            </div>
            <!--  -->
            <div class="box">
                <div class="image">
                    <img src="/static/menu-8.jpg" alt="">

                </div>
                <div class="content">

                    <h3>Fruit Oats</h3>
                    <p class="price">&#8377 240</p>
                    <button class="btn success">ADD</button>

                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/static/menu-9.jpg" alt="">

                </div>
                <div class="content">

                    <h3>Orange juice</h3>
                    <p class="price">&#8377 140</p>
                    <button class="btn success">ADD</button>
                </div>
            </div>



        </div>
</div>
        {% endblock %}